[Unit]
Description=Toonbot

[Service]
Type=simple
WorkingDirectory=/opt/toonbot
ExecStart=rtmbot
Restart=always

[Install]
WantedBy=multi-user.target
