[Unit]
Description=Toonbot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/toonbot
ExecStart=/usr/local/bin/rtmbot
Restart=always

[Install]
WantedBy=multi-user.target
